div.mdl-card__media {
	margin-right: 20px;
	margin-left: 20px;
	width: 200px;
}

div.mdl-grid {
  margin-left: 40px;
}

.home-container {
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 15px;
}

.trending-title {
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 5px;
}
