<md-toolbar layout="row">
  <div class="md-toolbar-tools" layout="row">
    <h2>
      <span>Angular Movie</span>
    </h2>
    <span flex=""></span>
    <md-icon icon="search">search</md-icon>
    <md-content flex>
      <form ng-submit="$event.preventDefault()">
        <md-autocomplete
            md-selected-item="nav.selectedItem"
            md-search-text="nav.searchText"
            md-search-text-change="null"
            md-items="item in nav.querySearch(nav.searchText)"
            md-item-text="item.title"
            md-min-length="0"
            placeholder="Search for a movie...">
          <md-item-template>
              <span md-highlight-text="nav.searchText" md-highlight-flags="^i">{{item.title}}</span>
          </md-item-template>
        </md-autocomplete>
      </form>
    </md-content>
</md-toolbar>
